<template>
  <require from="../../../../commons/workspaces-menu/workspace-favourite"></require>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between col-12">
    <span class="navbar-brand mb-0 h1">Products</span>
    <workspace-favourite class="float-left mx-2"></workspace-favourite>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" href="#productModal">
      <img src="../../../assets/img/add.svg" alt="">
      New product
    </button>
    <div class="form-inline col-6">
      <input class="form-control" type="search" placeholder="Search Products..." aria-label="Search" style="width:100%" value.bind="searchInput" change.delegate="search()">
    </div>
      <button type="button" class="btn btn-outline-dark">
        Product Filter
      </button>
      <button type="button" class="btn btn-outline-dark">
        <img src="../../../assets/img/favourite.svg" alt="">
        Product Favourites
      </button>
  </nav>
  <div class="col-12">
    <div class="dropdown float-right">
      <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
           aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="productModalLabel">New product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- form fields need to be changed! -->
              <form role="form" id="productForm" submit.delegate="newProduct()">
                <div class="form-group">
                  <label for="product-name" class="col-form-label">Name</label>
                  <input type="text" class="form-control" id="produductName" value.bind="product.productName">
                </div>
                <div class="form-group">
                  <label for="product-description" class="col-form-label">Description</label>
                  <input type="text" class="form-control" id="description" value.bind="product.description">
                </div>
                <div class="form-group">
                <label for="product-category" class="col-form-label">Category</label>
                <input type="text" class="form-control" id="category" value.bind="product.category">
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" click.delegate="newProduct()"
                    data-dismiss="modal">Save product</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
